<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/styles.css">
<link rel="stylesheet" type="text/css" href="css/stylesnav.css">
<link rel="manifest" href="manifest.json" >

<meta charset="UTF-8">

<title>rtp-aws.org</title>
<link rel="shortcut icon" type="image/png" href="imgs/rtp-aws-disolved-nose-16x16.png">
</head>

<body>

<header>

<div class="container">

    <img src="imgs/rtp-aws-disolved-nose-112x112.png" alt="logo" class="logo">
    <nav>
        <ul>
          <li><a href="index.ejs">App</a></li>
          <li><a href="bridge.ejs">Bridge</a></li>
          <li><a href="road.ejs">Road</a></li>
          <li><a href="both.ejs">Both</a></li>
          <li><a href="odd.ejs">Odd</a></li>
          <li><a href="about.ejs">About</a></li>
        </ul>
    </nav>


</div>
</header>


<!-- ---------------------------------------------------------------- -->

<div class="the_body">

  <H1> About </H1>

  <div>
  <p> History
  <p>
    MVP-RC1 20220117 0.0.1 inital revision <br>
    MVP-RC1 20220117 0.0.2 split bridge, road and odd <br>
    MVP-RC1 20220121 0.0.3 split into separate pages <br>
  </p>
  </div>

  <div>
  <p> Highres Cameras
  <p>
    BOTH: Very Hi-Res TOLL147_HOPSON_RD <br>
    BOTH: TOLL147_NC54<br>
    ROAD: Very Hi-Res TOLL54_APEXBBQ<br>
    todo <br>
  </p>
  </div>


</div>
</body>
<footer>
</footer>
</html>
