<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans:400" >
<link rel="stylesheet" type="text/css" href="css/styles.css">
<link rel="stylesheet" type="text/css" href="css/stylesnav.css">
<link rel="manifest" href="manifest.json" >
<meta charset="UTF-8">
<title>rtp-aws.org</title>
<link rel="shortcut icon" type="image/png" href="imgs/rtp-aws-disolved-nose-16x16.png">
</head>

<body>

<header>

<div class="container">

    <img src="imgs/rtp-aws-disolved-nose-112x112.png" alt="logo" class="logo">
    <nav>
        <ul>
            <li><a href="index.html">App</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
    </nav>


</div>
</header>


<!-- ---------------------------------------------------------------- -->

<div class="the_body">

<H1> About </H1>



</div>
</body>

<footer>

</footer>
</html>
