<!DOCTYPE html>
<html lang="en">
<head>
<!--meta name="viewport" content="width=device-width", initial-scale=1.0"-->
<!--meta http-equiv="X-UA-Compatible" content="ie=edge"-->

<link rel="stylesheet" type="text/css" href="css/styles.css">
<link rel="stylesheet" type="text/css" href="css/stylesnav.css">
<link rel="manifest" href="manifest.json" >

<script src="js/both_bundle.js" defer></script>
<meta charset="UTF-8">

<title>Icy Bridge Detector</title>
<link rel="shortcut icon" type="image/png" href="imgs/rtp-aws-disolved-nose-16x16.png">
</head>


<body>

<header>

<div class="container">
  <img src="imgs/rtp-aws-disolved-nose-112x112.png" alt="logo" class="logo">

  <nav>
    <ul>
      <li><a href="index.ejs">App</a></li>
      <li><a href="bridge.ejs">Bridge</a></li>
      <li><a href="road.ejs">Road</a></li>
      <li><a href="both.ejs">Both</a></li>
      <li><a href="odd.ejs">Odd</a></li>
      <li><a href="face.ejs">Face</a></li>
      <li><a href="predict.ejs">Predict</a></li>
      <li><a href="about.ejs">About</a></li>
    </ul>
  </nav>
  </div>
</header>

<!-- ---------------------------------------------------------------- -->



<div class="the_body">

  <H1> Both bridges and roads cameras </H1>

  <div>
    <p> These are the cameras which vary betwen bridge or road</p><br>
  </div>

  <div>
    <label class="switch">
      <input type="checkbox" id="slider">
      <span class="slider round"></span>
    </label>
    Actual Size
  </div>





  <div>
    <p>Select a camera feed:</p>
  </div>

  <div>
    <input type="radio" id="I40_MM53" name="feed_both" value="I40_MM53" checked>
    <label for="I40_MM53">I40_MM53</label>
  </div>

  <div>
    <input type="radio" id="BUS40_MACY" name="feed_both" value="BUS40_MACY">
    <label for="BUS40_MACY">Bus40 and Macy</label>
  </div>

  <div>
    <input type="radio" id="NC147_US15501" name="feed_both" value="NC147_US15501" >
    <label for="NC147_US15501">NC 147 and US 15-501 </label>
  </div>


  <div>
      <input type="radio" id="US52_UNIV" name="feed_both" value="US52_UNIV">
      <label for="US52_UNIV">US52_UNIV</label>
  </div>

  <div>
     <input type="radio" id="TOLL147_HOPSON_RD" name="feed_both" value="TOLL147_HOPSON_RD">
     <label for="TOLL147_HOPSON_RD">TOLL147_HOPSON_RD</label>
  </div>


  <div>
     <input type="radio" id="TOLL147_NC54" name="feed_both" value="TOLL147_NC54">
     <label for="TOLL147_NC54">TOLL147_NC54</label>
  </div>


  <div>
     <input type="radio" id="TOLL54_APEXBBQ" name="feed_both" value="TOLL54_APEXBBQ">
     <label for="TOLL54_APEXBBQ">TOLL54_APEXBBQ</label>
  </div>


  <div>
    <!-- camera urls changed
        old way 
         https://tims.ncdot.gov/TIMS/cameras/viewimage.ashx?id=Toll147_DavisDr.JPG
        new way 
         https://eapps.ncdot.gov/services/traffic-prod/v1/cameras/images?filename=HillsboroughSt_BlueRidgeRd.jpg&t=1643830561936
    -->


     <img class="camera_feed_both" style="-webkit-user-select: none;
                  margin: auto;
                  background-color: hsl(0, 0%, 90%);
                  max-width: 200px;
                  max-height: 200px;
                  transition: background-color 300ms;"
                  src="https://eapps.ncdot.gov/services/traffic-prod/v1/cameras/images?filename=I40_mm53.jpg">
  </div>


</div> <!-- The_body div -->




</body>
<footer>
    <a href="http://www.vim.org/" >
        <img src="imgs/vim_header.png" alt="logo" class="logo">
    </a>
    <a href="https://developer.chrome.com/docs/devtools/" >
        <img src="imgs/devtools-96x48.png" alt="logo" class="logo">
    </a>
    <a href="https://atom.io/" >
        <img src="imgs/atom-logo-48x48.png" alt="logo" class="logo">
    </a>
</footer>

</html>
