<!DOCTYPE html>
<html lang="en">
<head>
<!--meta name="viewport" content="width=device-width", initial-scale=1.0"-->
<!--meta http-equiv="X-UA-Compatible" content="ie=edge"-->

<link rel="stylesheet" type="text/css" href="css/styles.css">
<link rel="stylesheet" type="text/css" href="css/stylesnav.css">
<link rel="manifest" href="manifest.json" >

<script src="js/bundle.js" defer></script>
<meta charset="UTF-8">

<title>Icy Bridge Detector</title>
<link rel="shortcut icon" type="image/png" href="imgs/rtp-aws-disolved-nose-16x16.png">
</head>


<body>

<header>

<div class="container">
  <img src="imgs/rtp-aws-disolved-nose-112x112.png" alt="logo" class="logo">

  <nav>
    <ul>
      <li><a href="index.ejs">App</a></li>
      <li><a href="bridge.ejs">Bridge</a></li>
      <li><a href="road.ejs">Road</a></li>
      <li><a href="odd.ejs">Odd</a></li>
      <li><a href="about.ejs">About</a></li>
    </ul>
  </nav>
  </div>
</header>

<!-- ---------------------------------------------------------------- -->

<div class="the_body">

	<H1> MVP-RC1 </H1>


  <div>
    <H2> Cameras Bridge </H2>
    <img class="camera_feed_bridge" style="-webkit-user-select: none;
                 margin: auto;
                 background-color: hsl(0, 0%, 90%);
                 transition: background-color 300ms;"
                 src="https://tims.ncdot.gov/TIMS/cameras/viewimage.ashx?id=I85_Churton.JPG">




     <p>Select a camera feed:</p>

     <div>
       <input type="radio" id="i85_churton" name="feed_bridge" value="i85_churton" checked>
       <label for="i85_churton">I85 Churton</label>
     </div>

     <div>
       <input type="radio" id="bus40_macy" name="feed_bridge" value="bus40_macy">
       <label for="bus40_macy">Bus40 and Macy</label>
     </div>

     <div>
       <input type="radio" id="BUS40_SALEM" name="feed_bridge" value="BUS40_SALEM">
       <label for="BUS40_SALEM">BUS40_SALEM</label>
     </div>

     <div>
       <input type="radio" id="nc147_us15501" name="feed_bridge" value="nc147_us15501" >
       <label for="nc147_us15501">NC 147 and US 15-501 </label>
     </div>


     <div>
        <input type="radio" id="US52_UNIV" name="feed_bridge" value="US52_UNIV">
        <label for="US52_UNIV">US52_UNIV</label>
     </div>

</div>




</div>
</body>
</html>
