<!DOCTYPE html>
<html lang="en">
<head>
<!--meta name="viewport" content="width=device-width", initial-scale=1.0"-->
<!--meta http-equiv="X-UA-Compatible" content="ie=edge"-->

<link rel="stylesheet" type="text/css" href="css/styles.css">
<link rel="stylesheet" type="text/css" href="css/stylesnav.css">
<link rel="manifest" href="manifest.json" >

<script src="js/bridge_bundle.js" defer></script>
<meta charset="UTF-8">

<title>Icy Bridge Detector</title>
<link rel="shortcut icon" type="image/png" href="imgs/rtp-aws-disolved-nose-16x16.png">
</head>


<body>

<header>

<div class="container">
  <img src="imgs/rtp-aws-disolved-nose-112x112.png" alt="logo" class="logo">

  <nav>
    <ul>
      <li><a href="index.ejs">App</a></li>
      <li><a href="bridge.ejs">Bridge</a></li>
      <li><a href="road.ejs">Road</a></li>
      <li><a href="both.ejs">Both</a></li>
      <li><a href="odd.ejs">Odd</a></li>
      <li><a href="face.ejs">Face</a></li>
      <li><a href="about.ejs">About</a></li>
    </ul>
  </nav>
  </div>
</header>

<!-- ---------------------------------------------------------------- -->

<div class="the_body">

	<H1> MVP-RC1 </H1>


  <div>
    <H2> Cameras Bridge </H2>
    <p> These are the cameras which are fixed bridge</p><br>
  </div>

  <div>
    <label class="switch">
      <input type="checkbox" id="slider">
      <span class="slider round"></span>
    </label>
    Actual Size
  </div>



  <div>
     <p>Select a camera feed:</p>
  </div>

   <div>
     <input type="radio" id="i85_churton" name="feed_bridge" value="i85_churton" checked>
     <label for="i85_churton">I85 Churton</label>
   </div>


   <div>
     <input type="radio" id="BUS40_SALEM" name="feed_bridge" value="BUS40_SALEM">
     <label for="BUS40_SALEM">BUS40_SALEM</label>
   </div>


   <div>
     <img class="camera_feed_bridge" style="-webkit-user-select: none;
                  margin: auto;
                  background-color: hsl(0, 0%, 90%);
                  max-width: 200px;
                  max-height: 200px;
                  transition: background-color 300ms;"
                  src="https://tims.ncdot.gov/TIMS/cameras/viewimage.ashx?id=I85_Churton.JPG">
   </div>



</div> <!-- The_body div -->








</body>
</html>
