<!DOCTYPE html>
<html lang="en">
<head>

<link rel="stylesheet" type="text/css" href="css/styles.css">
<link rel="stylesheet" type="text/css" href="css/stylesnav.css">
<link rel="manifest" href="manifest.json" >

<script src="js/aws-sdk.js"></script>
<script src="js/face.js"></script>
<!--<link rel="stylesheet" type="text/css" href="css/stylesface.css"> -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">

<meta charset="UTF-8">
<title>Icy Bridge Detector</title>
<link rel="shortcut icon" type="image/png" href="imgs/rtp-aws-disolved-nose-16x16.png">
</head>




<body>

<header>

<div class="container">
  <img src="imgs/rtp-aws-disolved-nose-112x112.png" alt="logo" class="logo">

  <nav>
    <ul>
      <li><a href="index.ejs">App</a></li>
      <li><a href="bridge.ejs">Bridge</a></li>
      <li><a href="road.ejs">Road</a></li>
      <li><a href="both.ejs">Both</a></li>
      <li><a href="odd.ejs">Odd</a></li>
      <li><a href="face.ejs">Face</a></li>
      <li><a href="predict.ejs">Predict</a></li>
      <li><a href="about.ejs">About</a></li>
    </ul>
  </nav>
</div>
</header>

<!-- ---------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------- -->



<div class="the_body">


        <div>
            <p>
            This is a sample modified from the cloud academy class to setup roles for S3 and Rekognition.  It
            performs face detection.  Its plain javascript using the AWS SDK.  Its here just to see how
            this can be done outside of Node.js.  It was beneficial since I didn't know much javascript
            before I refactored it.
            </p>
        </div>


        <div>
            <a href="#" id="start-camera" class="visible"> Touch the camera icon to begin prediction.</a>
        </div>

        <div>
            <video id="camera-stream"></video>
        </div>

        <div>
            <img id="snap">
        </div>

        <div>
            <p id="error-message"></p>
        </div>

        <div>
            <a href="#" id="delete-photo" title="Delete Photo" class="disabled"><i class="material-icons">delete</i></a>
            <a href="#" id="take-photo" title="Take Photo"><i class="material-icons">camera_alt</i></a>
            <a href="#" id="download-photo" download="selfie.png" title="Save Photo" class="disabled"><i class="material-icons">file_download</i></a>
        </div>

        <div>
            <!-- Hidden canvas element. Used for taking snapshot of video. -->
            <canvas></canvas>

        </div>


        <div>
            <pre><code id="rek"></code></pre>
        </div>


</div> <!-- The body div -->


</body>
</html>
