<!DOCTYPE html>
<html lang="en">
<head>
<!--meta name="viewport" content="width=device-width", initial-scale=1.0"-->
<!--meta http-equiv="X-UA-Compatible" content="ie=edge"-->

<link rel="stylesheet" type="text/css" href="css/styles.css">
<link rel="stylesheet" type="text/css" href="css/stylesnav.css">
<link rel="manifest" href="manifest.json" >

<meta charset="UTF-8">

<title>Icy Bridge Detector</title>
<link rel="shortcut icon" type="image/png" href="imgs/rtp-aws-disolved-nose-16x16.png">
</head>


<body>

<header>

<div class="container">
  <img src="imgs/rtp-aws-disolved-nose-112x112.png" alt="logo" class="logo">

  <nav>
    <ul>
      <li><a href="index.ejs">App</a></li>
      <li><a href="bridge.ejs">Bridge</a></li>
      <li><a href="road.ejs">Road</a></li>
      <li><a href="both.ejs">Both</a></li>
      <li><a href="odd.ejs">Odd</a></li>
      <li><a href="face.ejs">Face</a></li>
      <li><a href="about.ejs">About</a></li>
    </ul>
  </nav>
  </div>
</header>


<!-- ---------------------------------------------------------------- -->


<div class="the_body">

	<H1> MVP-RC1 </H1>


  <div>
    <p> For now examine the feeds based upon type via navigator at top. </p>
  </div>

  <div>
    <p> e.g. All the bridge camera feeds should show up in bridges.</p>
  </div>

  <div>
    <p> If they switch between bridges and road or exhibit some other
      variabliy such as showing the same image or <br>
      even a non-image they are moved to the odd page.
      This an effort to clean the data feed for training.
    </p>
  </div>



</div>
</body>
</html>
