<!DOCTYPE html>
<html lang="en">
<head>
<!--meta name="viewport" content="width=device-width", initial-scale=1.0"-->
<!--meta http-equiv="X-UA-Compatible" content="ie=edge"-->

<link rel="stylesheet" type="text/css" href="css/styles.css">
<link rel="stylesheet" type="text/css" href="css/stylesnav.css">
<link rel="manifest" href="manifest.json" >

<script src="js/odd_bundle.js" defer></script>
<meta charset="UTF-8">

<title>Icy Bridge Detector</title>
<link rel="shortcut icon" type="image/png" href="imgs/rtp-aws-disolved-nose-16x16.png">
</head>


<body>

<header>

<div class="container">
  <img src="imgs/rtp-aws-disolved-nose-112x112.png" alt="logo" class="logo">

  <nav>
    <ul>
      <li><a href="index.ejs">App</a></li>
      <li><a href="bridge.ejs">Bridge</a></li>
      <li><a href="road.ejs">Road</a></li>
      <li><a href="both.ejs">Both</a></li>
      <li><a href="odd.ejs">Odd</a></li>
      <li><a href="face.ejs">Face</a></li>
      <li><a href="predict.ejs">Predict</a></li>
      <li><a href="about.ejs">About</a></li>
    </ul>
  </nav>
</div>
</header>

<!-- ---------------------------------------------------------------- -->



<div class="the_body">

	<H1> MVP-RC1 </H1>

  <div>
    <H2> Cameras Odd </H2>
    <p> These are the cameras which show oddness: sunglare, long sampling periods, moisture/ice on camera or blank feeds. </p><br>
  </div>

  <div>
    <label class="switch">
      <input type="checkbox" id="slider">
      <span class="slider round"></span>
    </label>
    Actual Size
  </div>


  <div>
    <p>Select a camera feed:</p>
  </div>


  <div>
    <input type="radio" id="TOLL147_DAVIS_DR" name="feed_odd" value="TOLL147_DAVIS_DR" checked>
    <label for="TOLL147_DAVIS_DR">TOLL147_DAVIS_DR</label>
  </div>


  <div>
    <input type="radio" id="I40W_MM8" name="feed_odd" value="I40W_MM8">
    <label for="I40W_MM8">I40W_MM8</label>
  </div>

  <div>
    <input type="radio" id="I440_US64_Bypass" name="feed_odd" value="I440_US64_Bypass">
    <label for="I440_US64_Bypass">I440_US64_Bypass</label>
  </div>

  <div>
    <input type="radio" id="I26_BROADWAY" name="feed_odd" value="I26_BROADWAY">
    <label for="I26_BROADWAY">I26_BROADWAY</label>
  </div>

  <div>
   <input id='draw-btn' type='button' value='Draw' onclick='Draw()' />
  </div>

  <div>
    <img id="camera_feed_odd" class="camera_feed_odd" style="-webkit-user-select: none;
                margin: auto;
                background-color: hsl(0, 0%, 90%);
                max-width: 200px;
                max-height: 200px;
                transition: background-color 300ms;"
                src="https://eapps.ncdot.gov/services/traffic-prod/v1/cameras/images?filename=Toll147_DavisDr.JPG">
    <canvas id='my_canvas'></canvas>

  </div>



</div>

<script>
  function Draw() {
    // https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API/Tutorial/Drawing_shapes

    var img = document.getElementById("camera_feed_odd");
    var cnvs = document.getElementById("my_canvas");
    cnvs.width = img.width;
    cnvs.height = img.height;

    cnvs.style.position = "absolute";
    cnvs.style.left = img.offsetLeft + "px";
    cnvs.style.top = img.offsetTop + "px";

    // hmm, both settings are identical?
    console.log("width = %i", img.width);
    console.log("height = %i", img.height);
    console.log("offset width = %i", img.offsetWidth);
    console.log("offset height = %i", img.offsetHeight);


    var TOP=0;
    var BOTTOM=img.height;
    var LEFT=0;
    var RIGHT=img.width;

    console.log("TOP = %i", TOP);
    console.log("BOTTOM = %i", BOTTOM);
    console.log("LEFT = %i", LEFT);
    console.log("RIGHT = %i", RIGHT);


    var ctx = cnvs.getContext("2d");
    ctx.clearRect(0, 0, cnvs.width, cnvs.height);

    ctx.beginPath();
    ctx.moveTo(LEFT+10,TOP+10); // top left
    ctx.lineTo(RIGHT-10,TOP+10); // top right
    ctx.lineTo(RIGHT-10,BOTTOM-10); // bottom right
    ctx.lineTo(LEFT+10,BOTTOM-10); // bottom right
    ctx.lineTo(LEFT+10,TOP+10); // bottom right

    ctx.lineWidth = 3;
    ctx.strokeStyle = '#00ff88';
    ctx.stroke();

  }
</script>



</body>
</html>
