<!DOCTYPE html>
<html lang="en">
<head>
<!--meta name="viewport" content="width=device-width", initial-scale=1.0"-->
<!--meta http-equiv="X-UA-Compatible" content="ie=edge"-->

<link rel="stylesheet" type="text/css" href="css/styles.css">
<link rel="stylesheet" type="text/css" href="css/stylesnav.css">
<link rel="manifest" href="manifest.json" >
<script src="js/predict_bundle.js" defer></script>
<meta charset="UTF-8">

<title>Icy Bridge Detector</title>
<link rel="shortcut icon" type="image/png" href="imgs/rtp-aws-disolved-nose-16x16.png">
</head>


<body>

<header>

<div class="container">
  <img src="imgs/rtp-aws-disolved-nose-112x112.png" alt="logo" class="logo">

  <nav>
    <ul>
      <li><a href="index.ejs">App</a></li>
      <li><a href="bridge.ejs">Bridge</a></li>
      <li><a href="road.ejs">Road</a></li>
      <li><a href="both.ejs">Both</a></li>
      <li><a href="odd.ejs">Odd</a></li>
      <li><a href="face.ejs">Face</a></li>
      <li><a href="predict.ejs">Predict</a></li>
      <li><a href="about.ejs">About</a></li>
    </ul>
  </nav>
</div>
</header>

<!-- ---------------------------------------------------------------- -->



<div class="the_body">

	<H1> MVP-RC1 </H1>

  <div>
    <H2> Cameras for Prediction </H2>
    <p> These are the cameras chosen for prediction. </p><br>
  </div>

  <div>
    <label class="switch">
      <input type="checkbox" id="slider">
      <span class="slider round"></span>
    </label>
    Actual Size
  </div>


  <div>
    <p>Select a camera feed:</p>
  </div>


  <div>
    <input type="radio" id="TOLL147_DAVIS_DR" name="feed_rb" value="TOLL147_DAVIS_DR" checked>
    <label for="TOLL147_DAVIS_DR">TOLL147_DAVIS_DR</label>
  </div>


  <div>
    <input type="radio" id="I40W_MM8" name="feed_rb" value="I40W_MM8">
    <label for="I40W_MM8">I40W_MM8</label>
  </div>

  <div>
    <input type="radio" id="I440_US64_Bypass" name="feed_rb" value="I440_US64_Bypass">
    <label for="I440_US64_Bypass">I440_US64_Bypass</label>
  </div>

  <div>
    <input type="radio" id="I26_BROADWAY" name="feed_rb" value="I26_BROADWAY">
    <label for="I26_BROADWAY">I26_BROADWAY</label>
  </div>


  <div>
     <input type="radio" id="TOLL147_HOPSON_RD" name="feed_rb" value="TOLL147_HOPSON_RD">
     <label for="TOLL147_HOPSON_RD">TOLL147_HOPSON_RD</label>
  </div>


  <div>
     <input type="radio" id="TOLL147_NC54" name="feed_rb" value="TOLL147_NC54">
     <label for="TOLL147_NC54">TOLL147_NC54</label>
  </div>


  <div>
     <input type="radio" id="TOLL54_APEXBBQ" name="feed_rb" value="TOLL54_APEXBBQ">
     <label for="TOLL54_APEXBBQ">TOLL54_APEXBBQ</label>
  </div>

  <div>
     <input type="radio" id="TOLL540_TOLL147" name="feed_rb" value="TOLL540_TOLL147">
     <label for="TOLL540_TOLL147">TOLL540_TOLL147</label>
  </div>

  <div>
     <input type="radio" id="TOLL540_NC55" name="feed_rb" value="TOLL540_NC55">
     <label for="TOLL540_NC55">TOLL540_NC55</label>
  </div>


  <div>
     <input type="radio" id="TOLL540_MCCRIMMON" name="feed_rb" value="TOLL540_MCCRIMMON">
     <label for="TOLL540_MCCRIMMON">TOLL540_MCCRIMMON</label>
  </div>


  <div>
     <input type="radio" id="I40_DAVIS_DR" name="feed_rb" value="I40_DAVIS_DR">
     <label for="I40_DAVIS_DR">I40_DAVIS_DR</label>
  </div>

















  <div>
   <input id='draw-btn' type='button' value='Draw' onclick='Draw()' />
   <input id='predict-btn' type='button' value='Predict' />
  </div>

  <div>
    <img id="camera_feed" class="camera_feed" style="-webkit-user-select: none;
                margin: auto;
                background-color: hsl(0, 0%, 90%);
                max-width: 200px;
                max-height: 200px;
                transition: background-color 300ms;"
                src="https://tims.ncdot.gov/TIMS/cameras/viewimage.ashx?id=Toll147_DavisDr.JPG">
    <canvas id='my_canvas'></canvas>

  </div>

  <div>
      <!-- Hidden canvas element. Used for taking snapshot of video. -->
      <canvas id='blob_canvas'></canvas>

  </div>



</div>

<script>
  function Draw() {
    // https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API/Tutorial/Drawing_shapes

    var img = document.getElementById("camera_feed");
    var cnvs = document.getElementById("my_canvas");
    cnvs.width = img.width;
    cnvs.height = img.height;

    cnvs.style.position = "absolute";
    cnvs.style.left = img.offsetLeft + "px";
    cnvs.style.top = img.offsetTop + "px";

    // hmm, both settings are identical?
    console.log("width = %i", img.width);
    console.log("height = %i", img.height);
    console.log("offset width = %i", img.offsetWidth);
    console.log("offset height = %i", img.offsetHeight);


    var TOP=0;
    var BOTTOM=img.height;
    var LEFT=0;
    var RIGHT=img.width;

    console.log("TOP = %i", TOP);
    console.log("BOTTOM = %i", BOTTOM);
    console.log("LEFT = %i", LEFT);
    console.log("RIGHT = %i", RIGHT);


    var ctx = cnvs.getContext("2d");
    ctx.clearRect(0, 0, cnvs.width, cnvs.height);

    ctx.beginPath();
    ctx.moveTo(LEFT+10,TOP+10); // top left
    ctx.lineTo(RIGHT-10,TOP+10); // top right
    ctx.lineTo(RIGHT-10,BOTTOM-10); // bottom right
    ctx.lineTo(LEFT+10,BOTTOM-10); // bottom right
    ctx.lineTo(LEFT+10,TOP+10); // bottom right

    ctx.lineWidth = 3;
    ctx.strokeStyle = '#00ff88';
    ctx.stroke();

  }
</script>


<!-- display: inline        make horizontal
     display: block         default, vertical
     display: none          hidden
     visibility: hidden     also hidden
-->

</body>
</html>
