<!DOCTYPE html>
<html lang="en">
<head>
<!--meta name="viewport" content="width=device-width", initial-scale=1.0"-->
<!--meta http-equiv="X-UA-Compatible" content="ie=edge"-->

<link rel="stylesheet" type="text/css" href="css/styles.css">
<link rel="stylesheet" type="text/css" href="css/stylesnav.css">
<link rel="manifest" href="manifest.json" >

<script src="js/road_bundle.js" defer></script>
<meta charset="UTF-8">

<title>Icy Bridge Detector</title>
<link rel="shortcut icon" type="image/png" href="imgs/rtp-aws-disolved-nose-16x16.png">
</head>


<body>

<header>

<div class="container">
  <img src="imgs/rtp-aws-disolved-nose-112x112.png" alt="logo" class="logo">

  <nav>
    <ul>
      <li><a href="index.ejs">App</a></li>
      <li><a href="bridge.ejs">Bridge</a></li>
      <li><a href="road.ejs">Road</a></li>
      <li><a href="both.ejs">Both</a></li>
      <li><a href="odd.ejs">Odd</a></li>
      <li><a href="face.ejs">Face</a></li>
      <li><a href="predict.ejs">Predict</a></li>
      <li><a href="about.ejs">About</a></li>
    </ul>
  </nav>
  </div>
</header>

<!-- ---------------------------------------------------------------- -->

<div class="the_body">

	<H1> MVP-RC1 </H1>



<div>
  <div>
    <H2> Cameras Road </H2>
    <p> These are the cameras which are fixed road</p><br>
  </div>

  <div>
    <label class="switch">
      <input type="checkbox" id="slider">
      <span class="slider round"></span>
    </label>
    Actual Size
  </div>


   <div>
     <p>Select a camera feed:</p>
   </div>

   <div>
     <input type="radio" id="HANESMALL_JONES" name="feed_road" value="HANESMALL_JONES" checked>
     <label for="HANESMALL_JONES">HANESMALL_JONES</label>
   </div>

   <div>
     <input type="radio" id="HANESMALL_KESTER" name="feed_road" value="HANESMALL_KESTER">
     <label for="HANESMALL_KESTER">HANESMALL_KESTER</label>
   </div>


    <div>
      <input type="radio" id="I40_MM27" name="feed_road" value="I40_MM27">
      <label for="I40_MM27">I40_MM27</label>
    </div>

    <div>
      <input type="radio" id="I540_US401" name="feed_road" value="I540_US401">
      <label for="I540_US401">I540_US401</label>
    </div>

    <div>
      <input type="radio" id="I540_US1" name="feed_road" value="I540_US1">
      <label for="I540_US1">I540_US1</label>
    </div>


    <div>
      <input type="radio" id="TOLL540_DAVIS_DR" name="feed_road" value="TOLL540_DAVIS_DR">
      <label for="TOLL540_DAVIS_DR">TOLL540_DAVIS_DR</label>
    </div>

    <div>
      <input type="radio" id="TOLL540_DMS7" name="feed_road" value="TOLL540_DMS7">
      <label for="TOLL540_DMS7">TOLL540_DMS7</label>
    </div>


    <div>
      <img class="camera_feed_road" style="-webkit-user-select: none;
                   margin: auto;
                   background-color: hsl(0, 0%, 90%);
                   max-width: 200px;
                   max-height: 200px;
                   transition: background-color 300ms;"
                   src="https://eapps.ncdot.gov/services/traffic-prod/v1/cameras/images?filename=HanesMall-Jonestown.jpg">
    </div>



  </div> <!-- The_body div -->





</body>
</html>
